<launch>
  <rosparam command="load"
      file="$(find differential_drive)/cfg/global.yaml">
  </rosparam>

  <node pkg="differential_drive" type="pid_velocity" name="rrpid_velocity">
    <remap from="wheel" to="/rear_right/encoder"/>
    <remap from="motor_cmd" to="/rear_right/motor_cmd"/>
    <remap from="wheel_vtarget" to="rwheel_vtarget"/>
    <remap from="wheel_vel" to="/rear_right/velocity"/>
    <rosparam>
        Kp: 1
        Ki: 0
        Kd: 0
        out_min: -100
        out_max: 100
        rate: 30
        timeout_ticks: 100
        rolling_pts: 5
    </rosparam>
  </node>

  <!--node pkg="differential_drive" type="twist_to_motors.py"
      name="twist_to_motors" output="screen">
    <remap from="twist" to="cmd_vel"/>
  </node-->
</launch>